.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ensemble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.one {
       
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}